<h1>HttpClient Example</h1>

<nav>
  <ul>
    <li><a routerLink="/index" routerLinkActive="active">Index Component</a></li>
    <li><a routerLink="/about" routerLinkActive="active">About Component</a></li>
    <li><a routerLink="/news" routerLinkActive="active">News Component</a></li>
    <li><a routerLink="/heroes" routerLinkActive="active">Heroes Component</a></li>
    <li><a routerLink="/messages" routerLinkActive="active">Messages Component</a></li>
    <li><a routerLink="/config" routerLinkActive="active">Config Component</a></li>
    <li><a routerLink="/downloader" routerLinkActive="active">Downloader Component</a></li>
    <li><a routerLink="/uploader" routerLinkActive="active">Uploader Component</a></li>
    <li><a routerLink="/package-search" routerLinkActive="active">Package-search Component</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>
