<h1>Still Believe Space</h1>

<div>
  <input type="checkbox" id="index" [checked]="showIndex" (click)="toggleIndex()">
  <label for="index">Index</label>

  <input type="checkbox" id="httpService" [checked]="showHttpService" (click)="toggleHttpService()">
  <label for="httpService">httpService</label>

  <input type="checkbox" id="NavMenu" [checked]="showNavMenu" (click)="toggleNavMenu()">
  <label for="NavMenu">NavMenu</label>
</div>

<app-index *ngIf="showIndex"></app-index>
<hr />

<app-http-service *ngIf="showHttpService"></app-http-service>
<hr />


<nav *ngIf="showNavMenu">
  <ul>
    <li><a routerLink="/index" routerLinkActive="active">Index Component</a></li>
    <li><a routerLink="/about" routerLinkActive="active">About Component</a></li>
    <li><a routerLink="/admin" routerLinkActive="active">Admin Component</a></li>
    <li><a routerLink="/news" routerLinkActive="active">News Component</a></li>
    <li><a routerLink="/material-test" routerLinkActive="active">Material-test Component</a></li>
    <li><a routerLink="/heroes" routerLinkActive="active">Heroes Component</a></li>
    <li><a routerLink="/messages" routerLinkActive="active">Messages Component</a></li>
    <li><a routerLink="/config" routerLinkActive="active">Config Component</a></li>
    <li><a routerLink="/downloader" routerLinkActive="active">Downloader Component</a></li>
    <li><a routerLink="/uploader" routerLinkActive="active">Uploader Component</a></li>
    <li><a routerLink="/package-search" routerLinkActive="active">Package-search Component</a></li>
    <li><a routerLink="/httpService" routerLinkActive="active">HttpService Component</a></li>
  </ul>
</nav>

<hr />
<router-outlet></router-outlet>
